<div id='content' class='p-4 p-md-5 pt-5'>
    <h2><span class='fa fa-home'></span> Home</h2>
    <hr />
    
    <section class="container">
      <div class="row my-5">

        <% @categories.each do |category| %>
          <div class="col-12 col-sm-6 col-md-4 mb-5">
            <a href="">
              <div class="card category">
                <div class="category-name"><%= category.name %></div>
              </div>
            </a>
          </div>
        <% end %>

      </div> 
    </section>

</div>