    <div class="d-flex content-header">
      <h5 class="d-none d-sm-inline mr-auto"><span class='fa fa-home'></span> Editing Post</h5>
      <h6 class="d-inline d-sm-none mr-auto"><span class='fa fa-home'></span> Editing Post</h6>

    </div>
    <hr />
    
    <section class="container">
      <div class="my-3">

        <%= render 'form', post: @post %>

      </div>
    </section>
