<div id='content' class='p-4 p-md-5 pt-5'>
    <div class="d-flex">
      <h4 class="d-none d-sm-inline mr-auto"><span class='fa fa-home'></span> New Post</h4>
      <h5 class="d-inline d-sm-none mr-auto"><span class='fa fa-home'></span> New Post</h5>

    </div>
    <hr />
    
    <section class="container">
      <div class="my-3">

        <%= render 'form', post: @post %>

      </div>
    </section>

</div>