/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*/


@import "style.scss";

body {
  color: black;
  height: 100vh;
}

.content-header h5, h6 {
  font-weight: 600;
  padding-top: 5px;
}

.category {
    cursor: pointer;
    position: relative;
    color: white;
    background-color: #4f4b4b;
    height: 320px;
}

.category {
    opacity: 0.9;
}

.category:hover {
    opacity: 1;
}

.category .category-name {
    position: absolute;
    top: 35%;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

.card-horizontal {
    flex-direction: row;
}

.card-image {
  max-width: 250px;
}

.card-horizontal img {
    width: 100%;
    height: 100%;
}

.card-horizontal .card-stacked {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    color: black;
    background: #fbfbfb
}

.card-content {
    flex-grow: 1;
    padding: 15px;
    border-radius: 0 0 2px 2px;
}

.card-content p {
  margin-bottom: 0;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
}

.card-horizontal .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 10px;
}

.form-control {
    border: 1px solid #ced4da;
}

.form-control:focus {
    border: 2px solid #80bdff;
}

.post-form {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    background-color: #fbfbfb;
    background-clip: border-box;
}

.post-show {
  background-color: #fbfbfb;
}

.post-form select {
    height: 40px;
    background: #fff;
    color: #000;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: none !important;
    width: 100%;
    padding: 5px;
}

.image-detail-view {
    width: 100%;
}

.new_user, .edit_user {
    max-width: 400px;
    margin: 5% auto;
    padding: 30px 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #fbfbfb;
    border-radius: 5px;
}

.new_user a {
    display: inline-block;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin: 5px 0px 0px 0px;
}

#sidebar ul {
  position: sticky;
  top: 0;
  bottom: 0;
}

#sidebar ul .logout_button {
  color: #f55;
}

#sidebar ul .logout_button:hover {
  background-color: #f55;
  color: #fff;
  border-bottom: 1px solid #606060
}

.user_logged_out { 
  height: 100vh;
  background-image: url('https://wallpaperaccess.com/full/2454804.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

p { 
  word-break: break-all 
}

#error_explanation h2 {
  font-size: 1em;
  color: red;
}

@media (max-width: 991.98px) {
  .container {
    padding-right: 2px;
    padding-left: 2px;
  }
}
