<div id='content' class='p-4 p-md-5 pt-5'>
    <h2 class="d-none d-sm-block "><span class='fa fa-home'></span> <%= @category.name %></h2>
    <h5 class="d-block d-sm-none"><span class='fa fa-home'></span> <%= @category.name %></h5>
    <hr />
    
    <section class="container">
      <div class="row my-5">
        <div class="card card-horizontal">

          <div class="card-image d-none d-sm-block">
            <img src="https://unsplash.it/400/300?image=503" class="fadeIn">
          </div>

          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">San Francisco</span>
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
              </p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
          
        </div>

      </div>
    </section>

</div>