<div id='content' class='p-4 p-md-5 pt-5'>
    <div class="d-flex">
      <h4 class="d-none d-sm-inline mr-auto"><span class='fa fa-home'></span> <%= @category.name %></h4>
      <h5 class="d-inline d-sm-none mr-auto"><span class='fa fa-home'></span> <%= @category.name %></h5>

      <button type="button" class="btn btn-sm btn-success flex-end"><i class="fa fa-plus" aria-hidden="true"></i> Add News</button>
    </div>
    <hr />
    
    <section class="container">
      <div class="my-3">
        <div class="card card-horizontal my-3">

          <div class="card-image d-none d-md-block">
            <img src="https://unsplash.it/400/300?image=503" class="fadeIn">
          </div>

          <div class="card-stacked">
            <div class="card-content">
              <h6 class="card-title">Copa America: Luis Suarez from devastated United States America</h6>
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
              </p>
            </div>
            <div class="card-action">
              <button type="button" class="btn btn-light"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
              <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            </div>
          </div>
          
        </div>

        <div class="card card-horizontal my-3">

          <div class="card-image d-none d-md-block">
            <img src="https://unsplash.it/400/300?image=503" class="fadeIn">
          </div>

          <div class="card-stacked">
            <div class="card-content">
              <h6 class="card-title">Copa America: Luis Suarez from devastated United States America</h6>
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
              </p>
            </div>
            <div class="card-action">
              <button type="button" class="btn btn-light"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
              <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            </div>
          </div>
          
        </div>

        <div class="card card-horizontal my-3">

          <div class="card-image d-none d-md-block">
            <img src="https://unsplash.it/400/300?image=503" class="fadeIn">
          </div>

          <div class="card-stacked">
            <div class="card-content">
              <h6 class="card-title">Copa America: Luis Suarez from devastated United States America</h6>
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
              </p>
            </div>
            <div class="card-action">
              <button type="button" class="btn btn-light"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
              <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            </div>
          </div>
          
        </div>

        <div class="card card-horizontal my-3">

          <div class="card-image d-none d-md-block">
            <img src="https://unsplash.it/400/300?image=503" class="fadeIn">
          </div>

          <div class="card-stacked">
            <div class="card-content">
              <h6 class="card-title">Copa America: Luis Suarez from devastated United States America</h6>
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
              </p>
            </div>
            <div class="card-action">
              <button type="button" class="btn btn-light"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
              <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            </div>
          </div>
          
        </div>

      </div>
    </section>

</div>